
@model IEnumerable<Department>
@{
    ViewData["Title"] = "All Departments";
}
@if (TempData["SuccessMessage"] is not null)
{
    <div class="alert alert-success" id="successMessage">

		@TempData["SuccessMessage"];
	</div>
}
<a asp-action="Create" class="btn btn-success">Create New Department</a>
<br />
@if(Model.Count() > 0 )
{
    <h1>All Departments</h1>
    <br />
    <table class="table table-striped table-hover mt-3">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(d=> d.Code)</td>
                <td>@Html.DisplayNameFor(d=>d.Name)</td>
                <td>@Html.DisplayNameFor(d=>d.DateOfCreation)</td>
                <td>Details</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in Model)
            {
                <tr>
                    <td>@department.Code</td>
                    <td>@department.Name</td>
                    <td>@department.DateOfCreation</td>
                    <partial name="_ButtonsPartialView" model="@department.Id">
                </tr>
            }
        </tbody>
    </table>
}else{
    <div class="mt-5 alert alert-warning" >
        <h3>There is No Departments</h3>
    </div>
}

@section Scripts {
    @if (TempData["SuccessMessage"] is not null)
    {
        <script>
            setTimeout(function () {
                var successMessage = document.getElementById('successMessage');
                if (successMessage) {
                    successMessage.style.display = 'none';
                }
            }, 5000); // 5000 milliseconds = 5 seconds
        </script>
    }
}
