@model ApplicationUserViewModel

<div class="form-group">
	<label asp-for="@Model.UserName" class="col-form-lable"></label>
	<input asp-for="@Model.UserName" class="form-control" />
	<span asp-validation-for="@Model.UserName" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="@Model.Email" class="col-form-lable"></label>
	<input asp-for="@Model.Email" class="form-control" />
	<span asp-validation-for="@Model.Email" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="@Model.PhoneNumber" class="col-form-lable"></label>
	<input asp-for="@Model.PhoneNumber" class="form-control" />
	<span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
</div>
